@font-face {
  font-family: 'futura';
  src: url(fonts/Futura-Condensed-Extra-Bold.otf);
}

@font-face {
  font-family: 'poppinsBold';
  src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'poppins';
  src: url(fonts/Poppins-Regular.ttf);
}

body {
    font-family: poppins;
    color: #edd4fc;
    background-color: #291d4e ;
    text-decoration: none;
    margin: 0% 22% 0% 22%;
}

a {
    text-decoration: none;
    color: #edd4fc;
}

.navbar {
    width: 100%;
    height: 50px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    inset:0 0 auto 0;
    gap: 16px;
    background-color: #241643;
}

.navbar .logo {
    font-family: futura;
    font-size: 28px;
    margin-left: 16px;
}

.navbar .sections {
    display: flex;
    gap: 16px;
    margin: 8px;
    margin-right: 16px;
}


.navbar .sections p {
    border: 3px solid transparent;
    padding: 4px 8px;
}

.navbar .sections p:hover {
    background-color:#3d3361;
    border: 3px solid #3d3361;
    border-radius: 10px;
}

#profile {
    margin-top: 75px;
    display: flex;
    background-color: #241643;
    border: 25px solid #241643;
    border-radius: 45px;
}

#profile h1 {
    margin-top: 8px;
    font-size: 40px;
    font-family: poppinsBold;
    margin-bottom: 0px;
}

#profile p {
    font-size: 12px;
    font-family: poppins;
    margin-top: 0%;
}

.joshua {
    margin-top: 12px;
    margin-right: 32px;
}

.joshua img {
    border: 3px solid #241643;
    border-radius: 45px;
}

.joshua .socials {
    display:flex;
    justify-content: center;
    gap: 6px;
    font-size:16px;
}

.joshua .socials a {
    border: 3px solid transparent;
}

.joshua .socials a:hover {
    background-color:#3d3361;
    border: 3px solid #3d3361;
    border-radius: 8px;
}

hr {
    color: #edd4fc;
}

h1 {
    font-size: 24px;
    font-family: poppinsBold;
}

#certification {
    display: flex;
    justify-content: center;
}

#certification img {
    display: flex;
    justify-content: center;
    border: 5px solid #241643;
    border-radius: 3px;
    height: 250px;
    margin: 30px;
}

#certification img:hover {
    transform: scale(1.05);
}

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects img {
    border-radius: 16px;
    width: 350px;
}

.project {
    background-color: #241643;
    border: 10px solid #241643;
    border-radius: 18px;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 400px;
    margin: 20px;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

.project p {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 12px;
}

.project h3 {
    font-family: poppinsBold;
    margin-bottom: 0%;
}

.row1 {
    display: flex;
}

.row2 {
    display: flex;
}

#tools {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-right: 24px;
    gap: 80px;
}


#tools li img:hover {
    transform: scale(1.05);
}

#js {
    width: 180px;
    border-radius: 20px;
}

#cpp {
    width: 200px;
}

#godot {
    width: 200px;
}

#skill-description {
    margin: 20px auto 0px auto;
    padding: 15px;
    background: #241643;
    border-radius: 12px;
    width: 800px;
    height: 75px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

#tool {
    font-family: poppins;
    font-size: 24px;
    margin-left: 4%;
    margin-right: 8%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#description {
    margin-left: 8%;
    margin-right: 8%;
}

#hobbies ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 32px;
    margin-right: 39px;
}

.hobby {
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background: #241643;
    border: 20px solid #241643;
    border-radius: 12px;
}

.hobby h3 {
    font-family: poppinsBold;
}

.hobby p {
    margin-left: 8%;
    margin-right: 8%;
    font-size: 14px;
}

#education table {
    margin-top: 24px;
    background-color: #241643;
    border: 10spx solid #241643;
    border-radius: 12px;
}


#education table, th, td {
    border: 2px solid #edd4fc; 
    border-collapse: collapse; 
}
#education th, td {
    padding: 8px;
}