@font-face {
  font-family: 'poppins';
  src: url(fonts/Poppins-Regular.ttf);
}

body {
    font-family: poppins;
    color: white;
    background-color: #220135;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset:0 0 auto 0;
    gap: 16px;
    background-color: #190028;
}

.navbar .sections {
    display: flex;
    gap: 16px;
    margin: 8px;
}

.navbar .socials {
    display: flex;
    gap: 8px;
    margin: 8px;
    text-decoration: none;
}