@font-face {
  font-family: 'poppins';
  src: url(fonts/Poppins-Regular.ttf);
}

body {
    font-family: poppins;
    color: #edd4fc;
    background-color: #291d4e ;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #edd4fc;
}

.navbar {
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    inset:0 0 auto 0;
    gap: 16px;
    background-color: #241643;
}

.navbar .sections {
    display: flex;
    gap: 24px;
    margin: 8px;
}

.navbar .socials {
    display: flex;
    gap: 8px;
    margin: 8px;
    text-decoration: none;
}